body {
  font-family: Garamond;
}

.header {
  font-style: italic;
}

.menu-layout {
  text-align: left;
  max-width: 740px;
  margin: auto;
}

#menu-table tr:nth-child(even) {
  background: gainsboro;
}

#menu-table td {
  text-align: left;
  background-color: #f2f2f2;
}

#menu-table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: purple;
  color: white;
}

#menu-table tr {
  text-align: left;
  color: black;
}

#menu-table {
  margin: auto;
  width: 100%;
}

.rate {
  height: 30px;
  width: 50px;
}
