body {
  font-family: Garamond;
}
.header {
  font-style: italic;
}
.menu-layout {
  text-align: center;
  max-width: 740px;
  margin: auto;
}
#menu-table tr:nth-child(even) {
  background: gainsboro;
}
#menu-table td {
  background-color: #f2f2f2;
}

#menu-table th {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: purple;
  color: white;
}

#menu-table {
  text-align: left;
  margin: auto;
  width: 100%;
}

#emoji {
  background-color: lightslategrey;
  text-align: center;
  width: 60px;
  height: 40px;
  font-size: 15px;
}
