body {
  font-family: Garamond;
}
.header {
  font-style: italic;
}
.menu-layout {
  text-align: center;
  max-width: 740px;
  margin: auto;
}
#menu-table tr:nth-child(odd) {
  background: gainsboro;
}

#menu-table th {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: purple;
  color: white;
}

#menu-table {
  background-color: #f2f2f2;
  text-align: left;
  text-align: center;
  color: black;
  margin: auto;
  width: 100%;
}

.rate {
  height: 30px;
  width: 50px;
}
